<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Scan Tile"
        android:supportsRtl="true">

        <service
            android:name=".ScanTileService"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:label="Scan">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

    </application>

</manifest>
