<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.termux.permission.RUN_COMMAND"/>

    <queries>
        <package android:name="com.termux" />
    </queries>

    <application
        android:label="Scan Tile"
        android:icon="@drawable/ic_tile"
        android:roundIcon="@drawable/ic_tile"
        android:supportsRtl="true">

        <activity
            android:name=".LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
        </activity>

        <service
            android:name=".ScanTileService"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:label="Scan"
            android:icon="@drawable/ic_tile">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true"/>
        </service>

    </application>

</manifest>
